<p id="notice"><%= notice %></p>

<p>
  <strong>C:</strong>
  <%= @record.c_id %>
</p>

<p>
  <strong>C fn:</strong>
  <%= @record.c_fn %>
</p>

<p>
  <strong>C ln:</strong>
  <%= @record.c_ln %>
</p>

<p>
  <strong>C address:</strong>
  <%= @record.c_address %>
</p>

<p>
  <strong>C state:</strong>
  <%= @record.c_state %>
</p>

<p>
  <strong>C zip:</strong>
  <%= @record.c_zip %>
</p>

<p>
  <strong>P num:</strong>
  <%= @record.p_num %>
</p>

<p>
  <strong>P descript:</strong>
  <%= @record.p_descript %>
</p>

<p>
  <strong>P instock:</strong>
  <%= @record.p_instock %>
</p>

<p>
  <strong>P date:</strong>
  <%= @record.p_date %>
</p>

<p>
  <strong>P sold:</strong>
  <%= @record.p_sold %>
</p>

<p>
  <strong>P qoh:</strong>
  <%= @record.p_qoh %>
</p>

<p>
  <strong>P price:</strong>
  <%= @record.p_price %>
</p>

<p>
  <strong>A:</strong>
  <%= @record.a_id %>
</p>

<p>
  <strong>A date:</strong>
  <%= @record.a_date %>
</p>

<p>
  <strong>A paid:</strong>
  <%= @record.a_paid %>
</p>

<p>
  <strong>I:</strong>
  <%= @record.i_id %>
</p>

<p>
  <strong>I order size:</strong>
  <%= @record.i_order_size %>
</p>

<p>
  <strong>I vendor fn:</strong>
  <%= @record.i_vendor_fn %>
</p>

<p>
  <strong>I vendor ln:</strong>
  <%= @record.i_vendor_ln %>
</p>

<p>
  <strong>I vendor email:</strong>
  <%= @record.i_vendor_email %>
</p>

<p>
  <strong>I order date:</strong>
  <%= @record.i_order_date %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
